.mt10{
  margin-top: 10px !important;
}
.mv10{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.after{
  &:after{
    content: '';
    display: block;
    clear: right;
  }
}
.pull-right{
  float: right;
}
// 对semantic的覆盖
.ui.page.dimmer{
	z-index: 99999;
}
.ui.breadcrumb a{
  color: inherit;
}
.ui.breadcrumb .active.section{
  color: #4183C4;
}
.ui.form .field{
  clear: right;
}
